body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-color: gray;
  background-size: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  text-align: center;
}

.mine {
  padding: 4px 8px;
  border-radius: 10px;
  background: yellow;
  color: black;
}

.upgrade {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  align-items: flex-start; 
  justify-content: center; 
  margin: 10px;
  padding: 4px 8px;
  border-radius: 10px;
  background: darkgray;
  text-align: center;
  position: center;
}

.money {
  color: white;
  margin-top: 10px;
  white-space: pre-wrap;
}