body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://i.pinimg.com/736x/84/2d/3a/842d3afdbf860c1235d45d72d74dbab8.jpg");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  text-align: center;
}

.mine {
  padding: 15px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  background: yellow;
  cursor: pointer;
  border-radius: 16px;
  border: bold;
  border-color: orange;
  border-width: 3px;
}

.mine:active { /*Being clicked*/
  transform: scale(0.95);
}

.money {
  color: white;
  margin-top: 10px;
  white-space: pre-wrap;
}

.upgrade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  padding: 20px;
  max-width: 80%;
}

.upgrade button {
  background-color: gray;
  color: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  min-width: 150px;
}

.upgrade button:hover { /*Mouse on top*/
  background-color: lightslategray;
  transform: scale(1.05);
}

.upgrade button:active { /*Being clicked*/
  transform: scale(0.95);
}

.win-button {
  display: block;
  margin-top: 25px;
  padding: 20px 20px;
  font-size: 20px;
  background-color: gold;
  color: black;
  font-weight: bold;
  border: 4px solid orange;
  border-radius: 60px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}

.win-button:hover { /*Mouse on top*/
  background-color: yellow;
  transform: scale(1.15);
}

.win-button:active { /*Being clicked*/
  transform: scale(0.85);
}